# Private Files
private/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Build
node_modules/
dist/
build/

# Vercel secrets (NEVER commit this!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
